<div id="content" class="narrow"> 
  <article>
    <div class="post" id="post-43">
      <header>
	<h2 class="posttitle"><a href="http://www.newssniffer.co.uk/blog/about/" rel="bookmark" title="Permanent Link to About News Sniffer">About News Sniffer Ireland</a></h2>
	<small>July 19th, 2012</small>
      </header>
      <div class="entry">
	<p>
<b>What is News Sniffer?</b> <p>

News journalism is increasingly moving to the web, and this has many implications for how journalists work. The web enables journalists to react quicker to events and to rapidly update articles, but most news organisations don't notify users when articles change, what has changed, or why. 
<p>This is where News Sniffer comes in. News Sniffer monitors news websites and detects when articles change. The changes are viewable and the changes are highlighted.

<p>The News Sniffer code was written by <a href="http://johnleach.co.uk">John Leach</a> and a UK version, focusing on the news output of the BBC and The Guardian, has been in existence for some time and can be found <a href="http://www.newssniffer.co.uk">here</a>. The code for News Sniffer is released as free and open source and is available on <a href="https://github.com/johnl/news-sniffer">Github</a>. News Sniffer Ireland has the same functionality, focusing on Irish news sources and run independently of the UK version. <p>

<b>What news sources does it monitor?</b><p>

At present, News Sniffer Ireland is monitoring the publicly-available RSS feeds from RTE News Online and The Irish Times. Sports feeds are excluded for reasons that are obvious. We've only just got started, and if there's demand for us to add further sources in the future we'll certainly consider it.


<p>

<b>Who is it for?</b><p>

News Sniffer is for everyone with an interest in news media- media researchers, journalists, but most importantly of all, it's for the general public who want to dig a little deeper into the news content they read- and understand how it comes to look the way it does. We hope and expect that journalists will take News Sniffer in the spirit in which it is offered- giving a gentle nudge towards greater transparency.

<p>

<b>How does News Sniffer make money?</b><p>

It doesn't. News Sniffer Ireland is a non-commercial website- we don't not carry advertising, and we never will. The server and domain costs are borne by the News Sniffer team. This project relies on the generosity of the original developer who has open-sourced the News Sniffer code, and also the assistance of a software developer who has kindly volunteered to assist with development.

<p>

<b>Get in touch:</b><p>


We'll be setting up a blog shortly to notify users about News Sniffer news and development, but in the meantime you can follow us via Twitter on <a href="https://twitter.com/NewsSnifferIre">@NewsSnifferIre</a>, or contact us via email at <a href="mailto:newssnifferireland@gmail.com"> newssnifferireland@gmail.com </a> . All correspondence will be treated in the strictest confidence. 

<p>

<a href="http://www.gnu.org/licenses/agpl-3.0.html">
<img src="http://www.gnu.org/graphics/agplv3-155x51.png" 
alt="AGPLv3"></img></a>

 </div>
      <footer>
  	<p class="postmetadata">  <span>Comments Off</span></p>
      </footer>
    </div>
  </article>
  
  <nav>
    <div class="navigation">
      <div class="alignleft"></div>
      <div class="alignright"></div>
    </div>
  </nav>
  
</div>

