<div id="content" class="narrow"> 
  <article>
    <div class="post" id="post-43">
      <header>
	<h2 class="posttitle"><a href="http://www.newssniffer.co.uk/blog/about/" rel="bookmark" title="Permanent Link to About News Sniffer">About News Sniffer</a></h2>
	<small>July 19th, 2012</small>
      </header>
      <div class="entry">
	<p>News Sniffer monitors news websites and detects when articles change. The versions are viewable and the changes are highlighted.</p>
	<p>It currently monitors a few key feeds from the RTE website</p>
	<p>News Sniffer was written by <a href="http://johnleach.co.uk">John Leach</a>, who can be contacted by email at <a href="mailto:hello@newssniffer.co.uk">hello@newssniffer.co.uk</a>.</p>
	<p>You can follow News Sniffer on twitter too, <a href="https://twitter.com/news_sniffer">@news_sniffer</a></p>
	<p>The code for News Sniffer is released as free and open source and is available at <a href="https://github.com/johnl/news-sniffer">github</a>.</p>
      </div>
      <footer>
  	<p class="postmetadata">  <span>Comments Off</span></p>
      </footer>
    </div>
  </article>
  
  <nav>
    <div class="navigation">
      <div class="alignleft"></div>
      <div class="alignright"></div>
    </div>
  </nav>
  
</div>
